[submodule "DubsTech-Data-Visualization-Certification"]
	path = DubsTech-Data-Visualization-Certification
	url = https://github.com/brookedietmeier/DubsTech-Data-Visualization-Certification.git
[submodule "Java-Coding"]
	path = Java-Coding
	url = https://github.com/brookedietmeier/brookedietmeier.github.io.git
[submodule "projects/project-qiaoyc2"]
	path = projects/project-qiaoyc2
	url = https://github.com/info340-su24/project-qiaoyc2.git
